#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(0, 0, 0);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #cc1414;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 760px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
}
}

.swiper-pagination-bullet {
  background: rgb(253, 253, 253);
}